NODE_ENV=development
PORT=3000
DATABASE_URL=postgresql://user:yash@123@localhost:5432/Manager
FRONTEND_URL=http://localhost:5173
SMTP_HOST=smtp.gmail.com
SMTP_PORT=587
SMTP_SECURE=false
SMTP_USER=your_gmail@gmail.com
SMTP_PASS=your_gmail_app_password
EMAIL_FROM=your_gmail@gmail.com
JWT_SECRET=4cb5b22ef2b2f3b78d00570437272182
JWT_EXPIRES_IN=7d
BCRYPT_ROUNDS=10
